*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} 

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    background-color: #1F2937;
    padding-top: 20px;
    padding-bottom: 0px;
}

ul {
    list-style-type: none;
    display: flex;
    padding-bottom: 0px;
    margin-bottom: 0px;
    gap: 20px;
}

a {
    text-decoration: none;
    color: white;
}

button {
    background-color: slategray;
    color: white;
    padding: 8px 30px;
    border-radius: 8px;
    align-self: flex-start;
    margin-top: 40px;
    font-size: 20px;
    font-weight: 600;
    text-decoration: underline;
}

img {
}


.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px;
    margin-left: -180px;
    max-width: 50px;
    max-height: 30px;
}

.header-links {
    display: flex;
    justify-content: space-around;
}
   
.main-text {
    font-size: 48px;
    font-weight:bolder;
    color: #F9FAF8;
    margin-bottom: 20px;
}

.sub-text {
    font-size: 18px;
    color: #E5E7EB;
    margin-top: 0px;

}


.header-image {
    max-width: 600px;
    max-height: 300px;
    border: 1px solid black;
    border-radius: 14px;
    align-self: center;
    margin-left: 0px;
    margin-bottom: 0px;
    flex: 1;
}

.text-container {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin-left: 70px;
    align-self: center;
    line-height: 30px;
}

.header-main-container {
    display: flex;
    justify-content: space-around;
    padding: 50px;
}

/** End of header styles */

.panels-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
    margin-top: 30px;
}

.panels {
    display: flex;
}