*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} 

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    background-color: #1F2937;
    padding-top: 20px;
    padding-bottom: 0px;
}

ul {
    list-style-type: none;
    display: flex;
    padding-bottom: 0px;
    margin-bottom: 0px;
    gap: 20px;
}

a {
    text-decoration: none;
    color: white;
}

header button {
    background-color:#3882F6;
    color: white;
    padding: 8px 30px;
    border-radius: 8px;
    align-self: flex-start;
    margin-top: 40px;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}


.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px;
    margin-left: -150px;
    max-width: 50px;
    max-height: 30px;
}

.header-links {
    display: flex;
    justify-content: space-around;
}
   
.main-text {
    font-size: 48px;
    font-weight:bolder;
    color: #F9FAF8;
    margin-bottom: 10px;
    line-height: 35px;
}

.sub-text {
    font-size: 18px;
    color: #E5E7EB;
    margin-top: 0px;

}


.header-image {
    max-width: 500px;
    max-height: 300px;
    border-radius: 14px;
    align-self: center;
    margin-left: 0px;
    margin-bottom: 0px;
    flex: 1;
}

.text-container {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin-left: 80px;
    align-self: center;
    line-height: 20px;
}

.header-main-container {
    display: flex;
    justify-content: space-around;
    padding: 50px;
    margin: 0px;
}

/** End of header styles */

.panels-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.panels-container {
   display: flex;
   justify-content: center;
   margin-bottom: 80px;

}

.panel-image {
    width: 200px;
    height: 210px;
    margin-left: 20px auto;
    margin-inline: 30px;
    border: 3px solid #3882F6;
    border-radius: 20px;
    flex-shrink: 0;

}

.panels-sub-text {
  color: gray;
  font-style: italic;
  display: flex;
  justify-content: center;
}

.quote-container {
background-color: #E5E7EB;
display: flex;
justify-content: center;
padding: 100px;
}

.quote-main {
font-size: 38px;
font-style: italic;
font-weight: lighter;
color:#1F2937;
}

.quote-sub {
font-size: 15px;
font-style: bolder;
color: #1F2937;
align-self: flex-end;
margin-left: 20px;
margin-top: 40px;

}

.signup-container {
    padding: 100px;
    display: flex;
    justify-content: center;
}

.signup-box {
    background-color:#3882F6;
    padding: 50px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.signup-text, .signup-subtext {
color: #E5E7EB;
}

.signup-text {
    font-size: 18px;
    font-weight: bold;
}

.signup-subtext {
    font-size: 12px;
    font-weight: lighter;
}

.signup-container button {
    color: #E5E7EB;
    background-color: #3882F6;
    border-color: white;
    flex-grow: 0px;
    align-self: flex-end;
    padding: 8px 30px;
    margin-top: -40px;
    border-style:solid white;
    border-radius: 5px;
    font-weight: bold;
}

footer {
    background-color: #1F2937;
    padding: 30px;
}

.footer-text {
    color: #E5E7EB;
    text-align: center;
}